:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}

body {
  color: #777;
  background: #eee;
  padding: 0;
  margin: 0;
}

h4 {
  color: orangered;
}

button {
  background: white;
}
